<h1> Account: <%= @user.username %> was active </h1>

<p>
 <span> acc: <%= @user.username %> / pass: 123456 </span>
 Please change your password within the next 2 minutes, or your account will be deactivated
</p>