// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_user {
    display: flex;
    flex-direction: column;
}

.btn-submit {
    padding: 10px;
    margin-top: 20px;
}